
.icon-user:before { content: '\e800'; } /* '' */
.icon-home:before { content: '\e801'; } /* '' */
.icon-calendar:before { content: '\e802'; } /* '' */
.icon-location:before { content: '\e803'; } /* '' */
.icon-cancel-circled:before { content: '\e804'; } /* '' */
.icon-clock-1:before { content: '\e806'; } /* '' */
.icon-users:before { content: '\f064'; } /* '' */